services:
  - type: web
    name: helpdesk-backend
    env: node
    plan: free
    buildCommand: |
      cd apps/backend
      npm install
      npx prisma generate
      npm run build
    startCommand: cd apps/backend && npm run start
    preDeployCommand: |
      cd apps/backend
      npx prisma migrate deploy --schema=./prisma/schema.prisma
      npm run seed:admin
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: DATABASE_URL
        sync: false
      - key: SHADOW_DATABASE_URL
        sync: false
      - key: JWT_ACCESS_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: RESEND_API_KEY
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
